attr==0.3.2
bpython==0.24
ConfigParser==6.0.1
contextlib2==21.6.0
coreschema==0.0.4
cryptography==42.0.5
cx_Oracle==8.3.0
diff==2023.12.6
docutils==0.20.1
flake8==7.0.0
HTMLParser==0.0.2
importlib_metadata==7.0.2
ipdb==0.13.13
ipython==8.12.3
ipywidgets==8.1.2
jnius==1.1.0
keyring==24.3.1
lockfile==0.12.2
Markdown==3.6
mock==5.1.0
multiprocess==0.70.16
mypy_extensions==1.0.0
MySQL-python==1.2.5
numpy==1.26.4
oracledb==2.1.0
Pillow==10.2.0
pip_api==0.0.33
pipreqs==0.5.0
pox==0.3.4
protobuf==5.26.0
psycopg==3.1.18
psycopg2==2.9.9
pyenchant==3.2.2
pylama==8.4.1
pylibmc==1.6.3
pymemcache==4.0.0
pyOpenSSL==24.1.0
pytest==8.1.1
pywatchman==2.0.0
railroad==0.5.0
sets==0.3.2
setuptools==69.2.0
Sphinx==7.2.6
sympy==1.12
tblib==3.0.0
thread==1.1.1
tornado==6.4
truststore==0.8.0
uritemplate==4.1.1
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
Django==5.0.3
django-admin=2.0.2
djangorestframework=3.15.0
django-cors-headers=4.3.1